nav {
  background-color: #333;
  color: white;
}
 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
 
li {
  padding: 15px;
}
 
a {
  color: white;
  text-decoration: none;
}
 
a:hover {
  text-decoration: underline;
}