.username-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    width: 350px;
    height: 5px;
    padding: 2px;
}

.username-box input {
    width: 300px;
    height: 40px;
    font-size: 16px;
    padding: 8px;
}